body {background-color:linen;}
body {margin: 50px;}
body {text-align: center;}

h1 {color:maroon;}
h1 {font-family:Copperplate;}
h1 {font-size: 0.75em;}

h2 {color:#1F618D;}
h2 {font-family:'Brush Script MT';}
h2 {font-size: 1.5em;}

p {color:darkblue;}
p {font-family: Helvetica;}
p {font-size; 1em;}

p1 {color:darkblue;}
p1 {font-family:Helvetica;}
p1 {font-size: 1em;}

p2 {
   color:maroon;
   font-family:Copperplate;
   font-size: 2em;
}

p3 {
    color: white;
    font-family: Helvetica;
    font-size: 1em;
    margin-top: .75%;
    margin-bottom: .75%;
}
     
.body-landing {
      background-image: url('Beatles.jpeg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      }

a:link {
        color: cyan;
        background-color: transparent;
       }

a:active {
          color: orange;
          background-color: transparent;
          text-decoration: underline;
          }
          
a:hover {
          background-color: orange;
        }
a.hov1:hover {
              background-color: yellow;
             }

.box1FL {
      /*float: left;*/
      width: 100%;
      margin-right:auto;
      margin-left:auto;
      padding-bottom:30px;
      padding-top:30px;
      }
 

.box2{
      width: 100%;
      height: 20%;
      display: flex;
      align-self: center;
      justify-content: center;
      align-items: center;
      margin-right:auto;
      margin-left:auto;
      }
.flex-container {
                display: flex;
                margin-bottom :30px;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                }
.flex-container > div {
                      margin-right: 3%;
                      width: 25%;
                      }
.flex-container2 {
                 display: inline-flex;
                 margin-bottom: 30px;
                 flex-direction: row;
                 justify-content: center;
                 align-items: center;
                 width: 100%;
                 margin-bottom: 50px;
                 }
.flex-container2 > div {
                      margin: 50px;
                      width: 30%;
                      }
.flex-container-bottom {
                        display: inline-flex;
                        background-color: Black;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 10px;
                        padding-bottom: 1%;
                        padding-top: 1%;
                        }
.flex-container-bottom > div {
                              margin-right: 3%;
                              width: 25%;
                             }
.flex-container-bottom2 {
                         display: inline-flex;
                         /*background-color: yellow;*/
                         flex-direction: row;
                         justify-content: center;
                         align-items: center;
                         width: 100%;
                         margin-bottom: 10px;
                         padding-bottom: 1%;
                         padding-top: 1%;
                        }
.flex-container-bottom2 > div {
                               margin-right: 3%;
                               width: 25%;
                              }
.w3-animate-left {
                  position:relative;
                  animation:animateleft 5s;
                 }
                 @keyframes animateleft {
                                         from { left:-300px;
                                                opacity:0
                                              }
                                         to   {left:0;
                                               opacity:1
                                              }
                                        }
                                        
.w3-animate-bottom {
                    position: relative;
                    animation:animatebottom 5s;
                   }
                   @keyframes animatebottom {
                                             from {bottom:-1000px;
                                                  opacity:0
                                                  }
                                             to   {bottom:0;
                                                  opacity:1
                                                  }
                                             }
.popimg {
          -moz-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
        }
.popimg:hover {
                -webkit-transform: scale(1.04);
                -moz-transform: scale(1.04);
                -o-transform: scale(1.04);
                -ms-transform: scale(1.04);
                transform: scale(1.04);
              }
              
              
              
              
              
/* Landing Page */
.LandingBar
  {
  background: black;
  position: fixed;
  left: 0;
  height: 10%;
  width:100%;
  margin-top: 2.5%;
  opacity: 60%;
  }
  
.btn
  {
  background: none;
  opacity: 1;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  font-family: Helvetica;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 10px 5px 10px;
  }
  
.alignV
        {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          align-items: center;
          justify-content: center;
        }
        
.btn-space
          {
            background: none;
            opacity: 0;
            width: 50px;
          }
          
.btn:hover, .btn:focus
          {
            background-color: yellow;
            color: black;
          }
#myDIV
      {
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-35%);
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 1%;
       /* background-color: lightblue;*/
        flex-direction: row;
        font-family: Helvetica;
        display: none;
      }
      
.myDIVbox
          {
            position: relative;
            left: 0;
           /* border: 2px solid red;*/
            width: 60%;
            height: 50%;
            padding-bottom: 30px;
            padding-top: 30px;
            color: white;
            background: black;
            opacity: 60%;
            padding-left: 30px;
            padding-right: 30px;
          }
          
#myDIV2 {
          position: fixed;
          left: 0;
          top: 50%;
          transform: translateY(-35%);
          width: 100%;
          text-align: center;
          align-items: center;
          justify-content: center;
          padding: 1%;
          flex-direction: row;
          font-family: Helvetica;
          display: none;
        }
  
.myDIVbox2 {
            position: relative;
            left: 0;
            /* border: 2px solid red;*/
            width: 60%;
            height: 50%;
            padding-bottom: 30px;
            padding-top: 30px;
            color: white;
            background: black;
            opacity: 60%;
            padding-left: 30px;
            padding-right: 30px;
           }
           
#myDIV1{
          position: fixed;
          left: 0;
          top: 50%;
          transform: translateY(-35%);
          width: 100%;
          text-align: center;
          align-items: center;
          justify-content: center;
          padding: 1%;
          flex-direction: row;
          font-family: Helvetica;
          display: none;
       }

.myDIVbox1 {
            position: relative;
            left: 0;
            /* border: 2px solid red;*/
            width: 60%;
            height: 50%;
            padding-bottom: 30px;
            padding-top: 30px;
            color: white;
            background: black;
            opacity: 60%;
            padding-left: 30px;
            padding-right: 30px;
           }
           
#landing-title
{
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-40%);
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1%;
  display: flex;
}

.titleBox {
            position: relative;
            left: 0;
            width: 80%;
            height: 50%;
            padding-bottom: 30px;
            padding-top: 30px;
            color: black;
            opacity: 70%;
            padding-left: 30px;
            padding-right: 30px;
            font-size: 8em;
            line-height: 80%;
            font-family: 'Monoton', cursive;
            padding-bottom: 10%;
}

#author-name
            {
             position: fixed;
             left: 0;
             top: 50%;
             transform: translateY(450%);
             width: 100%;
             text-align: center;
             align-items: center;
             justify-content: center;
             padding: 1%;
             display: flex;
             color: white;
             font-family: 'lacquer', cursive;
             font-size: 30px;
            }
    

}
  /*------------------------*/